:root{
  --primary-color:#FF6060;
  --secondary-color: #FFFFFF;
}
html, body{
  margin:0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
#root {
  height: 100%;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}
h1, h2, h3, h4, a, p{
  font-family: 'Montserrat', sans-serif;
}

//***************** Header ********************//
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  display:flex;
}
.navbar ul>li{
list-style: none;
margin-left:3rem;
}
.navbar ul>li>a{
  color: var(--primary-color);
}
.navbar ul>li>a:hover{
  cursor: pointer;
  text-decoration: underline;
}
//***************** Footer ********************//
footer {
  display: flex;
  height: 13rem;
  margin-top: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  flex-shrink: 0;
}


.contenair-footer p{
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding: 0 29rem 1.8125rem 28.9375rem;
} 

//***************** Home Page  ********************//
.contenair_carte{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;

  background-color: #FF6060;
  border-radius: 1.5625rem;
  border: 25px;
}
.carte{
  margin: 2.5rem;
  width: 21.25rem;
  height: 21.25rem;
  position: relative;

  border-radius: 0.625rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.carte-titre{
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  color: var(--secondary-color);
}

.banner{
  position: relative;
  margin: 3rem auto 6rem;
  width: 90%;
  height: 15em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1.5625rem;

 
  overflow: hidden;
}
.banner img{
  border-radius: 1.5625rem;
  width: 100%;
  filter: brightness(0.6);
  object-fit: cover;
}
.banner h1{
  position: absolute;
  color: var(--secondary-color);
}
//*****Carrousel******//
.carrousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carrousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


//***************** 404 Page  ********************//
.contenair-error{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenair-error h1{
  color: var(--primary-color);
  font-size: 10vw;
  font-weight: 700;
  margin: 0rem;
}

.contenair-error p{
  color: var(--primary-color);
  font-size: 2.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.contenair-error button{
  border: none;
  color: var(--primary-color);
  font-size: 1.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  background-color: white;
}
.contenair-error button a{
  color: var(--primary-color);
}


//***************** Dropdown ********************//
.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem;
  gap: 10rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #F6F6F6;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  overflow: auto;
  width: 22rem; ///Voir avec mentor : la liste ne sajuste pas aux btn 
}

.dropdown-menu li {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-toggle.active + .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-toggle .arrow {
  transition: transform 0.3s ease;
}

.dropdown-toggle.active .arrow {
  transform: scaleY(-1);
}
