:root {
  --primary-color:#FF6060;
  --secondary-color: #FFFFFF;
}

body {
  margin: 0 2rem;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, a, p {
  font-family: "Montserrat", sans-serif;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 6vw;
  margin-right: 6vw;
}

.navbar img {
  width: 8rem;
}

.navbar ul {
  display: flex;
}

.navbar ul > li {
  list-style: none;
  margin-left: 3rem;
}

.navbar ul > li > a {
  color: var(--primary-color);
}

.navbar ul > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Footer */
footer {
  display: flex;
  height: 13rem;
  margin-top: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  flex-shrink: 0;
  margin-left: -10vw;
  margin-right: -10vw;
  flex-shrink: 0;
}

.contenair-footer p {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/* Home Page */
.contenair_carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  background-color: #F6F6F6;
  border-radius: 1.5625rem;
  border: 25px;
}

.carte {
  margin: 2rem;
  position: relative;
}

.carte::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  border-radius: 0.625rem;
}

.carte:hover::after {
  opacity: 0;
}

.carte img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 21.25rem;
  height: 21.25rem;
  position: relative;
  border-radius: 0.625rem;
}

.carte-titre {
  z-index: 1;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  width: 50%;
  padding-bottom: 1rem;
  text-align: start;
  color: var(--secondary-color);
}

.banner {
  position: relative;
  margin: 3rem auto 3rem;
  width: 90%;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;
  overflow: hidden;
}

.banner img {
  border-radius: 1.5625rem;
  width: 100%;
  filter: brightness(0.6);
  -o-object-fit: cover;
     object-fit: cover;
}

.banner h1 {
  position: absolute;
  color: var(--secondary-color);
}

/* 404 Page */
.contenair-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contenair-error h1 {
  color: var(--primary-color);
  font-size: 10vw;
  font-weight: 700;
  margin: 0rem;
}

.contenair-error p {
  color: var(--primary-color);
  font-size: 2.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.contenair-error button {
  border: none;
  color: var(--primary-color);
  font-size: 1.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  background-color: white;
}

.contenair-error button a {
  color: var(--primary-color);
}

/* Fiche Logement */
.carrousel-image {
  width: 89%;
  aspect-ratio: 16/9;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
}

.location-details,
.property-info,
.contenair-dropdown {
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
}

.location-details {
  flex-wrap: wrap;
}
.location-details h1,
.location-details p {
  color: var(--primary-color);
  margin-top: 0;
}
.location-details h1 {
  margin: 0;
  line-height: 142.6%;
  font-size: 2.25rem;
  font-weight: 500;
}
.location-details p {
  font-size: 1.125rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card p {
  margin: 0.5rem;
}

.card > img {
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.tag {
  background-color: var(--primary-color);
  border-radius: 0.625rem;
}
.tag p {
  color: var(--secondary-color);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.3rem 1rem;
}

/* A Propos */
.apropos-contenair-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
  margin-right: 6vw;
}

.apropos-contenair-dropdown > .dropdown {
  margin-top: 3rem;
}

.apropos-contenair-dropdown > .dropdown:last-child {
  margin-bottom: 5rem;
}

/* Dropdown */
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #F6F6F6;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  overflow: auto;
  width: 22rem;
}

.dropdown-menu li {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-toggle.active + .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-toggle .arrow {
  transition: transform 0.3s ease;
}

.dropdown-toggle.active .arrow {
  transform: scaleY(-1);
}/*# sourceMappingURL=index.css.map */