:root{
  --primary-color:#FF6060;
  --secondary-color: #FFFFFF;
}
body{
  margin:0 2rem;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}
#root {
  height: 100%;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}
h1, h2, h3, h4, a, p{
  font-family: 'Montserrat', sans-serif;
}


/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 6vw;
  margin-right: 6vw;
}

.navbar img {
  width: 8rem;
}

.navbar ul {
  display: flex;
}

.navbar ul > li {
  list-style: none;
  margin-left: 3rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;

}

.navbar ul > li > a {
  color: var(--primary-color);
}

.navbar ul > li > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Footer */
footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  flex-shrink: 0;
  margin-left: -10vw;
  margin-right: -10vw;
  flex-shrink: 0;
}
.contenair-footer img{
  margin-top: 1rem;
}
.contenair-footer p {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/* Home Page */
.contenair_carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  background-color: #F6F6F6;;
  border-radius: 1.5625rem;
  border: 25px;
}

.carte {
  margin: 1rem;
  position: relative;
 max-width: 22rem;
}
.carte::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  border-radius: 0.625rem;
}
.carte:hover::after {
  opacity: 0;
}
.carte img{
  object-fit: cover;
  width: 100%;
  min-height: 18rem;
  position: relative;
  border-radius: 0.625rem;
}

.carte-titre {
  z-index: 1;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  width: 50%;
  padding-bottom: 1rem;
  text-align:start ;
  color: var(--secondary-color);  
}

.banner {
  position: relative;
  margin: 3rem auto 3rem;
  width: 90%;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;
  overflow: hidden;
}
.banner h1 br {
  display: none; /* Masquer le saut de ligne dans la version desktop */
}
.banner img {
  border-radius: 1.5625rem;
  width: 100%;
  filter: brightness(0.6);
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  color: var(--secondary-color);
}

/* 404 Page */
.contenair-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contenair-error h1 {
  color: var(--primary-color);
  font-size: 10vw;
  font-weight: 700;
  margin: 0rem;
}

.contenair-error p {
  color: var(--primary-color);
  font-size: 2.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.contenair-error button {
  border: none;
  color: var(--primary-color);
  font-size: 1.5vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  background-color: white;
}

.contenair-error button a {
  color: var(--primary-color);
}

/* Fiche Logement */
$margin-horizontal: 6vw;
$margin-vertical: 2rem;
.carrousel{
  position: relative;
  margin-top: 3rem;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  font-size: 8em;
}
.prev-btn {
  left: 7rem;
}
.next-btn {
  right: 7rem;
}

.counter{
  position: absolute;
  bottom: 1rem; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white;
  font-size: 1rem;
  z-index: 2;

  font-size: 1.125rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.carrousel-image{
width: 89%;
aspect-ratio: 16/9;
height: 20rem;
object-fit: cover;
border-radius: 1.5625rem;
}

.location-details,
.property-info,
.contenair-dropdown {
  display: flex;
  justify-content: space-between;
  margin-left: $margin-horizontal;
  margin-right: $margin-horizontal;
  gap: 3rem;
  margin-top: 1rem;
}
.fiche-details{
  width: 88%;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
}
.location-title {
  grid-area: 1 / 1 / 2 / 2;
  text-align: start;
}
.card {
  grid-area: 1 / 2 / 2 / 3;
}
.tags-container{
  grid-area: 2 / 1 / 3 / 2; 
}
.stars{
  grid-area: 2 / 2 / 3 / 3;
}

.fiche-details {
  flex-wrap: wrap;
  h1,
  p {
    color: var(--primary-color);
    margin-top: 0;
  }
  h1 {
    margin: 0;
    line-height: 142.6%;
    font-size: 2.25rem;
    font-weight: 500;
  }
  p {
    font-size: 1.125rem;
    line-height: 142.6%;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin: 2rem;
    width: 3rem;
  }
}
.card > img{
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;
}
/* Stars */

.star {
  display: inline-block;
  width: 1.5rem; /* Ajustez la taille de l'étoile selon vos besoins */
  height: 1.5rem; /* Ajustez la taille de l'étoile selon vos besoins */
  background-color: gray; /* Couleur de l'étoile par défaut */
  clip-path: polygon(
    50% 0%,
    61.8% 38.2%,
    100% 35.4%,
    68.2% 57.3%,
    79.1% 91.6%,
    50% 70%,
    20.9% 91.6%,
    31.8% 57.3%,
    0% 35.4%,
    38.2% 38.2%
  ); /* Crée la forme d'une étoile à l'aide de clip-path */
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.tag {
  p {
    color: var(--secondary-color);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.3rem 1rem;
  }
  background-color: var(--primary-color);
  border-radius: 0.625rem;
}
.contenair-dropdown{
  margin-top: 3rem;
  margin-bottom: 6rem;
}
/* A Propos */
.apropos-contenair-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: -3rem;
}

.apropos-contenair-dropdown > .dropdown {
  margin-top: 1.5rem;
}

.apropos-contenair-dropdown > .dropdown:last-child {
  margin-bottom: 5rem;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  width: 100%; /* Permet au dropdown d'être affiché comme un élément dans le flux */
  gap:1rem;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  gap: 1rem;
}

.dropdown-menu {
  display: none;
  position: relative; /* Modifiez la position en relative */
  background-color: #F6F6F6;
  color: var(--primary-color);
  border-radius:  0.3125rem;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}
.dropdown-menu p{
  margin: 0;
  text-align: left;
  margin-left: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.dropdown-menu, option p :last-child{
  padding-bottom: 1rem;
}
.dropdown-menu li {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.dropdown-toggle.active + .dropdown-menu {
  display: block; 
}
.dropdown-toggle .arrow {
  transition: transform 0.450s ease;
}

.dropdown-toggle.active .arrow {
  transform: scaleY(-1);
}








/*Mobil */

@media (max-width: 769px){
body{
  margin: 0;
}
/* Header */
.navbar ul{
  padding-left: 1.5em;
}
.navbar ul>li{
  margin-left: 0.8em;
}
.navbar ul>li>a{
  text-transform: uppercase;
  font-size: 0.6em;
  white-space: nowrap;
}
/*Home */
.contenair_carte{
  background-color: transparent;
  justify-content: center;
  
}

.banner {
  height: 7em;
  justify-content: flex-start;
}
.banner h1 br {
    display:block; 
}
.banner h1{
  text-align: start;
  margin-left: 1em;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}
.carte{
  margin: 0;
  margin-bottom: 2rem;
}

/* Fiche Logement */
.next-btn{
  right: 2rem;
}
.prev-btn{
  left: 2rem;
}
.carrousel-image{
  height: 100%;
}
.counter{
  display: none;
}

.location-title {
  grid-area: 1 / 1 / 2 / 3;
  text-align: start;
}
.card {
  grid-area: 3 / 2 / 4 / 3;
}
.tags-container{
  grid-area: 2 / 1 / 3 / 4; 
}
.stars{
  grid-area: 3 / 1 / 4 / 2 ;
}

.fiche-details h1{
   font-size: 18px;
   text-align: start;
}
.fiche-details p{
  font-size: 14px;
}
.card p{
  text-align: right;
  font-size: 0.75rem;
}
.card > img{
  margin-left: 0rem;
  width: 3.5rem;
}
.contenair-dropdown{
  display: flex;
  flex-direction: column;
}
.property-info{
  display: flex;
  flex-direction: column;
}
.tags-container{
  gap: 1rem
}

/* EROR */
.contenair-error h1{
  font-size: 35vw;
}
.contenair-error p{
  font-size: 5vw;
}
.contenair-error a{
  font-size: 3vw;
}
}






